html, body {
	margin: 0px;
	background: #B3B3B3;
	font-family:Raleway, Verdana, Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#4d4948;
}

h1 {
	margin: 0;
	text-align: center;
	font-size: 150%;
	padding: 0px;
}

h2 {
	margin: 0;
	text-align: center;
	font-size: 120%;
	padding: 0px;
}

h3 {
	margin: 0;
	font-size: 105%;
	padding: 0px;
}

a {
	color:#4d4948;
}

#top {
	margin: 0 auto 0 auto;
	background:url('images/top-bg.jpg') repeat-x;
	font-family: Raleway;
	text-align: center;
	font-size: 500%;
	width:100%;
	height:25%;
}


#content {
	margin: 0 auto 0 auto;
	width: 100%;
}


#left-nav {
	width:15%;
	height:200%;
	float:left;
	font-size:95%;
	background:url('images/top-bg.jpg') repeat-x;
	font-family: Raleway;
	font-size: 20px;

}

#content #left-nav ul {
	padding:0 0 0 0;
	margin:10;
	background:url('images/top-bg.jpg') repeat-x;
}

#content #left-nav ul li {
	padding:2.5px;
	margin:0;
	list-style:none;
}

#content #left-nav ul li a {
	text-decoration:none;
}

#content #left-nav ul li:hover {
	border-style: solid;
	border-color: #B3B3B3;
	border-width: 2px;
}

#content #main {
	float:left;
	width:85%;
	font-size:90%;
}

#content #main #regbox {
	padding: 0 0 0 0;
}

#content #main #regbox label {
	width:100px;
	float:left;
}

table.admin td {
	vertical-align: top;	
}

#error {
	display:block;
	margin:5px;
	color:#4d4948;
	background-color:#fffebe;
	border: 1px solid #cbcbcb;
	font-size:90%;
}

#success {
	margin:5px;
	color:#4d4948;
	background-color:#bce9b5;
	border: 1px solid #7ace6c;
	font-size:90%;
}
